/* .head__text {
    font-family: 'PT Serif', serif;
}

.lower__text,
.button__text {
    font-family: 'Roboto', sans-serif;
} */

.header {
    display: flex;
    justify-content: space-between;
    /* border: dashed 1px red; */
}

.wrapper {
    width: 80%;
    margin: auto;
    /* border: dashed 1px red; */
    height: 100%;
}

.logo,
.menu {
    display: inline-block;
}

.logo {
    padding: 40px 0;
    /* border: dashed 1px red; */
}

.menu {
    display: flex;
    align-items: center;
    /* border: dashed 1px red; */
}

.menu_item {
    padding: 0 13px;
    /* border: dashed 1px red; */
}

.menu_item:last-child {
    padding-right: 0;
}

.main-section {
    display: flex;
    /* border: dashed 1px red; */
    align-items: center;
    height: 72%;
}

.main-content {
    /* padding: 203px 0 317px 0; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: dashed 1px red; */
    width: 34%;
    /* height: 100%; */
    padding-top: 17%;
    padding-bottom: 18%;
}

.image-content {
    /* padding: 173px 0 181px 191px; */
    /* border: dashed 1px red; */
    width: 66%;
    display: flex;
    justify-content: flex-end;
    padding-top: 17%;
    padding-bottom: 18%;
}

.main-content__title {
    width: 100%;
    /* border: dashed 1px red; */
    height: 55%;
    margin: 0;
    /* не уверена с высотой */
}

.main-content__description {
    width: 80%;
    /* border: dashed 1px red; */
    margin-top: 40px;
    margin-bottom: 41px;
    /* height: 12%; */
    /* не уверена с высотой */
}

.main-content__button {
    width: 48%;
    /* height: 13%; */
}

.image-content_img {
    /* border: dashed 1px red; */
    width: 80%;
    height: 100%;
}